comtypes==1.4.16
dxcam==0.3.0
numpy==2.5.2
opencv-python==5.0.0.93
typing_extensions==4.16.0
winrt-runtime==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Graphics==3.2.1
winrt-Windows.Graphics.Capture==3.2.1
winrt-Windows.Graphics.Capture.Interop==3.2.1
winrt-Windows.Graphics.DirectX==3.2.1
winrt-Windows.Graphics.DirectX.Direct3D11==3.2.1
winrt-Windows.Graphics.DirectX.Direct3D11.Interop==3.2.1
